* {
    font-family: 'Gaegu', cursive;
}

body {
    background-color: #EFEBE0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    background-color: #E05780;
    width: 400px;
    height: 540px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    flex-shrink: 0;
}

#main {
    border: 2px solid #B9375E;
    border-radius: 10px;
    height: 530px;
    padding: 3px;
}

#top {
    margin: 5px;
    display: flex;
}

#top_right,
#calc_name {
    flex-grow: 1;
}

#calc_name {
    font-size: 60px;
    padding: 0 0 5px 5px;
}

#model {
    text-align: right;
    padding: 3px;
    margin: 2px;
}

#solar {
    background-color: #522E38;
    height: 40px;
    display: flex;
    border-radius: 5px;
}

#solar div {
    border: 1px solid black;
    flex-grow: 1;
    border-radius: 5px;
}


#display {
    margin: 5px;
    padding: 10px 5px;
    background-color: #EEDEE0;
    border: 2px solid #8A2846;
    border-radius: 10px;
    font-size: 50px;
    text-align: right;
}

#buttons {
    display: flex;
    margin: 2px;
    padding: 5px;
}

button {
    background-color: #FF9EBB;
    border: 3px solid #B9375E;
    height: auto;
    margin: 2px;
    border-radius: 18px;
    font-size: 30px;
}

button.special {
    width: 140px;
    border: 3px solid #265F92;
    background-color: #79ADDC;
    color: #153551;
    margin-bottom: 5px;
}

button.operand,
button.operand.zero {
    width: 90px;
    height: 65px;
    color: #371520;
    background-color: #FF9EBB;
}

button#equals {
    background-color: #FFD275;
    width: 90px;
    height: 60px;
    color: #371520;
}

button.operator {
    width: 70px;
    height: 55px;
    color: #371520;
    background-color: #FFD275;
}

button#add {
    height: 146px;
}